.projects {
  width: var(--desktop);
  margin: 0 auto;

  border-bottom: 2px solid #eeeeee;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.projects__item {
  position: relative;
}

.projects__item::after {
  position: absolute;
  top: 50%;
  right: -20px;

  width: 2px;
  height: 50px;

  transform: translate(0, -50%);

  background-color: var(--color-background);

  content: "";
}

.projects__item:last-of-type::after {
  content: none;
}

.projects__link {
  display: block;
  width: 260px;

  filter: opacity(20%);
  cursor: pointer;

  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.projects__link:hover,
.projects__link:focus {
  filter: opacity(100%);
}

.projects__link:active {
  filter: opacity(10%);
}
