.info {
  display: flex;
  justify-content: space-between;
  width: var(--desktop);
  margin: 0 auto;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.info__left {
  width: 700px;
  padding-top: 40px;
}

.info__slogan {
  display: block;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: var(--font-medium);
}

.info__text {
  margin: 0;
  margin-bottom: 40px;
}

.info__list-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

.info__item::before {
  width: 25px;
  height: 2px;
  margin-right: 10px;

  background-color: #fb565a;

  content: "";
}

.info__right {
  width: 360px;
  text-align: center;
}

.info__logo {
  width: 360px;
  height: 208px;
  margin-bottom: 40px;
}

.info__table-title {
  display: block;
  margin-bottom: 45px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}
