.body {
}

.body__header {
  padding-top: 36px;
}

.body__header--shop-page {
  padding-bottom: 75px;
}

.body__main {
}

.body__main--shop-page {
}

.body__footer {
  margin-top: 75px;
  margin-bottom: 75px;
}

.body__footer--shop-page {
  margin-top: 60px;
}
