@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2');
}

:root {
  --desktop: 1160px;

  --color-text: #000000;
  --color-text-white: #ffffff;
  --color-background: #eeeeee;
  --color-background-white: #ffffff;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --standard-radius: 2px;

  --font-size-main: 16px;
  --line-height-main: 24px;

  --font-family-main: 'Roboto', 'Arial', 'sans-serif';
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;

  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button-like {
  display: inline-block;
  padding: 19px 40px 18px;

  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
  text-transform: uppercase;

  border: none;
  border-radius: var(--standard-radius);
  background-color: #fb565a;

  cursor: pointer;

  transition-property:
    color,
    box-shadow,
    background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.button-like--long {
  padding-left: 50px;
  padding-right: 50px;
}

.button-like:hover,
.button-like:focus {
  background-color: #e74246;
}

.button-like:active {
  color: rgb(255 255 255 / 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button-like--green {
  background-color: #00ca74;
}

.button-like--green:hover,
.button-like--green:focus {
  background-color: #00bc6c;
}

.button-like--green:active {
  background-color: #00aa62;
}

.button-like--yellow {
  background-color: #efc84a;
}

.button-like--yellow:hover,
.button-like--yellow:focus {
  background-color: #eab534;
}

.button-like--yellow:active {
  background-color: #e5a722;
}

.button-like--grey {
  color: var(--color-text);
  background-color: var(--color-background);
}

.button-like--grey:hover,
.button-like--grey:focus {
  background-color: #dfdfdf;
}

.button-like--grey:active {
  color: rgb(0 0 0 / 0.3);
  background-color: #d5d5d5;
}

.button-like--buy:active {
  color: var(--color-text-white);
}

.header {
  padding-top: 50px;

  color: var(--color-text);
  background-color: var(--color-background);
}

.header--inner-page {
  padding-bottom: 80px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--desktop);
  margin: 0 auto;
}

.header__logo {
  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.header__logo:hover,
.header__logo:focus {
  filter: opacity(80%);
}

.header__logo:active {
  filter: opacity(30%);
}

.header__navigation {
  width: 800px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  margin-right: 45px;
  padding-bottom: 15px;

  border-bottom: 2px solid transparent;
}

.navigation__item:last-of-type {
  margin-right: 0;
}

.navigation__item--basket {
  position: relative;

  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation__item--basket::before {
  width: 15px;
  height: 15px;
  margin-right: 25px;

  background-image: url('../../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;

  content: '';
}

.navigation__item--current {
  border-bottom: 2px solid #fb565a;
}

.navigation__link {
  font-size: var(--font-size-main);
  line-height: 30px;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  color: var(--color-text);

  transition-property: color, filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: var(--color-text);
  filter: opacity(30%);
}

.main {}

.slider {
  position: relative;

  margin-bottom: 80px;
  padding-top: 20px;

  color: var(--color-text);
  background-color: var(--color-background);
}

.slider__list {
  position: relative;

  width: var(--desktop);
  min-height: 453px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 80px 0 80px;

  background-repeat: no-repeat;
  background-position: right center;

  display: none;
}

.slider__item--current {
  display: block;
}

.slider__item--first {
  background-image: url('../../img/slide1.png');
}

.slider__item--second {
  background-image: url('../../img/slide2.png');
}

.slider__item--third {
  background-image: url('../../img/slide3.png');
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 580px;
}

.slider__slogan {
  margin-bottom: 40px;

  font-size: 55px;
  line-height: 55px;
  font-weight: var(--font-medium);
}

.slider__text {
  margin: 0;

  color: #283136;
}

.slider__link {
  margin-top: 40px;
}

.slider__controls-list {
  position: absolute;
  bottom: 80px;
  left: 50%;

  transform: translate(-50%);
}

.controls {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 90px;

  list-style: none;
}

.controls__item {}

.controls__button {
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: var(--color-background-white);
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.controls__button--current::before {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  box-sizing: border-box;

  border: 2px solid #c1c1c1;
  border-radius: 50%;

  content: '';
}

.features {
  width: var(--desktop);
  margin: 0 auto 40px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 60px;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  width: 300px;
  padding-top: 170px;
}

.features__item::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: 146px;

  content: '';
}

.features__item--web-sites::before {
  background-color: #fb565a;
  background-image: url('../../img/illustration-1.png');
}

.features__item--apps::before {
  background-color: #00ca74;
  background-image: url('../../img/illustration-2.png');
}

.features__item--presentation::before {
  background-color: #efc849;
  background-image: url('../../img/illustration-3.png');
}

.features__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.features__text {
  width: 260px;
  margin: 0;
  margin-bottom: 35px;
}

.features__link {}

.info {
  display: flex;
  justify-content: space-between;
  width: var(--desktop);
  margin: 0 auto 45px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.info__left {
  width: 700px;
  padding-top: 40px;
}

.info__slogan {
  display: block;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: var(--font-medium);
}

.info__text {
  margin: 0;
  margin-bottom: 40px;
}

.info__list-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

.info__item::before {
  width: 25px;
  height: 2px;
  margin-right: 10px;

  background-color: #fb565a;

  content: '';
}

.info__right {
  width: 360px;
  text-align: center;
}

.info__logo {
  width: 360px;
  height: 208px;
  margin-bottom: 40px;
}

.info__table-title {
  display: block;
  margin-bottom: 45px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.table {
  border-collapse: collapse;

  text-align: left;
}

.table__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.table__row {
  display: flex;
}

.table__row--top {
  margin-bottom: 25px;
}

.table__cell {
  width: 33%;
}

.table__cell--header {
  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-regular);
}

.table__cell--data {
  font-size: 45px;
  font-weight: var(--font-bold);
}

.table__supertext {
  font-size: 60%;
}

.projects {
  width: var(--desktop);
  margin: 0 auto;
  padding-bottom: 40px;

  border-bottom: 2px solid #eeeeee;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.projects__link {
  display: block;
  width: 260px;

  filter: opacity(20%);
  cursor: pointer;

  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.projects__link:hover,
.projects__link:focus {
  filter: opacity(100%);
}

.projects__link:active {
  filter: opacity(10%);
}

.footer {
  margin-top: 80px;
}

.footer--inner-page {
  margin-top: 60px;
}

.map {
  margin-bottom: 70px;
  padding: 55px 0;

  font-size: var(--font-size-main);
  color: #666666;
  line-height: 18px;

  background-color: #f1efe8;
  background-image: url('../../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
}

.map__wrapper-center {
  width: var(--desktop);
  margin: 0 auto;
}

.map__wrapper {
  width: 320px;
  padding: 55px 50px 45px;
  box-sizing: border-box;

  background-color: var(--color-background-white);
}

.map__title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--color-text);
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.map__address {
  margin: 0;
  margin-bottom: 20px;
}

.map__phone {
  margin: 0;
  margin-bottom: 35px;
}

.map__phone-link {
  color: inherit;
}

.footer-bottom {
  display: flex;
  width: var(--desktop);
  margin: 0 auto;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-top: 10px;
  margin-left: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;

  cursor: pointer;

  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.socials__link::before {
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;

  content: '';

  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.socials__link--vk::before {
  background-image: url('../../img/vk-icon.svg');
}

.socials__link--fb::before {
  background-image: url('../../img/fb-icon.svg');
}

.socials__link--ig::before {
  background-image: url('../../img/insta-icon.svg');
}

.socials__link:hover,
.socials__link:focus {
  background-color: #e74246;
}

.socials__link:active {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.socials__link:active::before {
  filter: opacity(30%);
}

.footer__socials {
  width: 280px;
  margin-right: 120px;
}

.footer-right {
  width: 580px;
  padding-top: 10px;
}

.footer__slogan {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: var(--font-bold);
  line-height: 36px;
}

.footer__text {
  margin: 0;

  font-size: var(--font-size-main);
  color: #444444;
  line-height: 22px;
}

.modal {
  width: 960px;
  padding: 70px 100px 80px;
}

.modal__title {
  font-size: 45px;
  font-weight: var(--font-medium);
  line-height: 45px;
}

.form__label {
  font-size: var(--font-size-main);
  font-weight: var(--font-bold);
  line-height: 18px;
}

.form__input {
  font: inherit;
}

.form__input::placeholder {
  color: #444444;
  filter: opacity(50%);
}

.form__input:focus::placeholder {
  filter: opacity(100%);
}

.form__input:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.form__input--textarea {
  resize: none;
}


/* catalog.html */

.main--shop {
}

.main__title-wrapper {
  margin-bottom: 60px;
  padding-bottom: 110px;

  background-color: var(--color-background);
}

.main__title {
  width: var(--desktop);
  margin: 0 auto;

  font-size: 55px;
  font-weight: var(--font-medium);
  line-height: 55px;
  text-align: center;
}

.main__wrapper {
  display: grid;
  grid-template-columns: 260px 760px;
  justify-content: space-between;
  width: var(--desktop);
  margin: 0 auto;
}

.filter {
  grid-row: 1 / 4;
}

.filter__fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: none;
}

.filter__legend {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.filter__legend--value {
  margin-bottom: 45px;
}

.range {
  padding: 30px 20px 29px;

  border-radius: var(--standard-radius);
  background-color: var(--color-background);
}

.range__line {
  position: relative;
  height: 2px;

  background-color: #d7dcde;
}

.range__line::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 75%;
  height: 100%;

  background-color: #00ca74;

  content: '';
}

.range__button {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;

  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 0px 0px #cccdcd;
  transform: translate(0, -50%);

  background-color: var(--color-background-white);

  cursor: pointer;
}

.range__button::before {
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #ababab;

  content: '';
}

.range__button--left {
  left: 0;
}

.range__button--right {
  left: 75%;
}

.filter__range {
  margin-bottom: 15px;
}

.filter__range-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter__range-label {
  display: flex;
  align-items: center;
  width: 115px;

  font-size: var(--font-size-main);
  line-height: 22px;
  text-transform: uppercase;
}

.filter__range-input {
  width: 100%;
  margin-left: 10px;
  padding: 12px 10px 13px;
  border: none;
  box-sizing: border-box;

  color: #283136;
  font: inherit;
  line-height: 22px;
  text-align: center;

  border-radius: var(--standard-radius);
  background-color: var(--color-background);
}

.filter__label {
  display: block;

  color: #283136;
  font-size: var(--font-size-main);
  line-height: 20px;

  cursor: pointer;

  transition-property: color, filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.filter__label:hover,
.filter__label:focus {
  color: var(--color-text);
}

.filter__input:disabled + .filter__label {
  filter: opacity(30%);
}

.filter__button {
  width: 100%;
}

.sort {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.sort__text {
  margin: 0;
  margin-right: auto;

  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 18px;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__list--main {
  padding-left: 160px;
}

.sort__list--sort {
  min-width: 50px;
  margin-left: 50px;
}

.sort__item {
  margin-right: 25px;

  filter: opacity(30%);

  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.sort__item:hover,
.sort__item:focus {
  filter: opacity(60%);
}

.sort__item:active {
  filter: opacity(100%);
}

.sort__item:last-of-type {
  margin-right: 0;
}

.sort__item--current {
  filter: opacity(100%);
}

.sort__item--sort {
  margin-right: 10px;
}

.sort__link {
  color: var(--color-text);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__link--sort {
  display: flex;
  padding: 5px;
}

.sort__link--sort::before {
  width: 0;
  height: 0;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
}

.sort__link--desc::before {
  border-top: 10px solid #010101;
}

.sort__link--asc::before {
  border-bottom: 10px solid #010101;
}

.templates {
  margin-bottom: 60px;
}

.templates__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -32px;
  margin-left: -40px;
  padding: 0;

  list-style: none;
}

.templates__item {
  margin-top: 32px;
  margin-left: 40px;
}

.template {
  position: relative;

  max-height: 576px;
  width: 360px;
  padding-top: 40px;

  border-radius: var(--standard-radius);
  background-color: #e9e9e9;

  transition-property: box-shadow, background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.template:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  background-color: #4d4d4d;
}

.template::before {
  --position-left: 15px;

  position: absolute;
  top: 13px;
  left: var(--position-left);

  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: var(--color-background-white);
  box-shadow:
    calc(var(--position-left) + 10px) 0 0 0 var(--color-background-white),
    calc((var(--position-left) * 2) + (10px * 2)) 0 0 0 var(--color-background-white);

  content: '';
}

.template__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 30px 60px 40px;

  text-align: center;
  filter: opacity(0);

  background-color: var(--color-background);

  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.template:hover .template__wrapper {
  filter: opacity(100%);
}

.template__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.template__text {
  color: #666666;
  font-size: var(--font-size-main);
  line-height: 18px;
}

.template__button {
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.template__image {}

.pagination {}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-top: 10px;
  margin-left: 10px;
}

.pagination__item--hidden {
  display: none;
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 50px;
  box-sizing: border-box;
}

.pagination__button--nearest {
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination__button--page {
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.pagination__button--current {
  box-shadow: inset 0 0 0 3px #dbdbdb;
  background-color: var(--color-background-white);
}

.pagination__button--current:hover,
.pagination__button--current:focus {
  background-color: var(--color-background-white);
}

.pagination__button--current:active {
  box-shadow: inset 0 0 0 3px #dbdbdb;
  color: inherit;
  background-color: var(--color-background-white);
}
