@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2');
}

:root {
  --desktop: 1160px;

  --color-text: #000000;
  --color-text-white: #ffffff;
  --color-background: #eeeeee;
  --color-background-white: #ffffff;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --font-size-main: 16px;
  --line-height-main: 24px;

  --font-family-main: 'Roboto', 'Arial', 'sans-serif';
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;

  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button-like {
  display: inline-block;
  padding: 19px 40px 18px;

  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  background-color: #fb565a;

  cursor: pointer;
}

.button-like--long {
  padding-left: 50px;
  padding-right: 50px;
}

.button-like:hover,
.button-like:focus {
  background-color: #e74246;
}

.button-like:active {
  color: rgb(255 255 255 / 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button-like--green {
  background-color: #00ca74;
}

.button-like--green:hover,
.button-like--green:focus {
  background-color: #00bc6c;
}

.button-like--green:active {
  background-color: #00aa62;
}

.button-like--yellow {
  background-color: #efc84a;
}

.button-like--yellow:hover,
.button-like--yellow:focus {
  background-color: #eab534;
}

.button-like--yellow:active {
  background-color: #e5a722;
}

.button-like--grey {
  color: var(--color-text);
  background-color: var(--color-background);
}

.button-like--grey:hover,
.button-like--grey:focus {
  background-color: #dfdfdf;
}

.button-like--grey:active {
  color: rgb(0 0 0 / 0.3);
  background-color: #d5d5d5;
}

.button-like--buy:active {
  color: var(--color-text-white);
}

.header {
  padding-top: 50px;

  color: var(--color-text);
  background-color: var(--color-background);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--desktop);
  margin: 0 auto;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.header__navigation {
  width: 800px;
}

.navigation {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  margin-right: 45px;
}

.navigation__item:last-of-type {
  margin-right: 0;
}

.navigation__item--basket {
  position: relative;

  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation__item--basket::before {
  width: 15px;
  height: 15px;
  margin-right: 25px;

  background-image: url('../../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;

  content: '';
}

.navigation__link {
  font-size: var(--font-size-main);
  line-height: 30px;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  color: var(--color-text);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: var(--color-text);
  opacity: 0.3;
}

.main {}

.slider {
  position: relative;

  margin-bottom: 80px;
  padding-top: 20px;

  color: var(--color-text);
  background-color: var(--color-background);
}

.slider__list {
  position: relative;

  width: var(--desktop);
  min-height: 453px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 80px 0 80px;

  background-repeat: no-repeat;
  background-position: right center;

  filter: opacity(0);
}

.slider__item--current {
  filter: opacity(100);
}

.slider__item--first {
  background-image: url('../../img/slide1.png');
}

.slider__item--second {
  background-image: url('../../img/slide2.png');
}

.slider__item--third {
  background-image: url('../../img/slide3.png');
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 580px;
}

.slider__slogan {
  margin-bottom: 40px;

  font-size: 55px;
  line-height: 55px;
  font-weight: var(--font-medium);
}

.slider__text {
  margin: 0;

  color: #283136;
}

.slider__link {
  margin-top: 40px;
}

.slider__controls-list {
  position: absolute;
  bottom: 80px;
  left: 50%;

  transform: translate(-50%);
}

.controls {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 90px;

  list-style: none;
}

.controls__item {}

.controls__button {
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: var(--color-background-white);
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.controls__button--current::before {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  box-sizing: border-box;

  border: 2px solid #c1c1c1;
  border-radius: 50%;

  content: '';
}

.features {
  width: var(--desktop);
  margin: 0 auto 40px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 60px;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  width: 300px;
  padding-top: 170px;
}

.features__item::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: 146px;

  content: '';
}

.features__item--web-sites::before {
  background-color: #fb565a;
  background-image: url('../../img/illustration-1.png');
}

.features__item--apps::before {
  background-color: #00ca74;
  background-image: url('../../img/illustration-2.png');
}

.features__item--presentation::before {
  background-color: #efc849;
  background-image: url('../../img/illustration-3.png');
}

.features__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.features__text {
  width: 260px;
  margin: 0;
  margin-bottom: 35px;
}

.features__link {}

.info {
  display: flex;
  justify-content: space-between;
  width: var(--desktop);
  margin: 0 auto 45px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.info__left {
  width: 700px;
  padding-top: 40px;
}

.info__slogan {
  display: block;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: var(--font-medium);
}

.info__text {
  margin: 0;
  margin-bottom: 40px;
}

.info__list-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

.info__item::before {
  width: 25px;
  height: 2px;
  margin-right: 10px;

  background-color: #fb565a;

  content: '';
}

.info__right {
  width: 360px;
  text-align: center;
}

.info__logo {
  width: 360px;
  height: 208px;
  margin-bottom: 40px;
}

.info__table-title {
  display: block;
  margin-bottom: 45px;

  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.table {
  border-collapse: collapse;

  text-align: left;
}

.table__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.table__row {
  display: flex;
}

.table__row--top {
  margin-bottom: 25px;
}

.table__cell {
  width: 33%;
}

.table__cell--header {
  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-regular);
}

.table__cell--data {
  font-size: 45px;
  font-weight: var(--font-bold);
}

.table__supertext {
  font-size: 60%;
}

.projects {
  width: var(--desktop);
  margin: 0 auto 80px;
  padding-bottom: 40px;

  border-bottom: 2px solid #eeeeee;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.projects__link {
  display: block;
  width: 260px;

  opacity: 0.2;
  cursor: pointer;
}

.projects__link:hover,
.projects__link:focus {
  opacity: 1;
}

.projects__link:active {
  opacity: 0.1;
}

.footer {
}

.map {
  margin-bottom: 70px;
  padding: 55px 0;

  font-size: var(--font-size-main);
  color: #666666;
  line-height: 18px;

  background-color: #f1efe8;
  background-image: url('../../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
}

.map__wrapper-center {
  width: var(--desktop);
  margin: 0 auto;
}

.map__wrapper {
  width: 320px;
  padding: 55px 50px 45px;
  box-sizing: border-box;

  background-color: #ffffff;
}

.map__title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--color-text);
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.map__address {
  margin: 0;
  margin-bottom: 20px;
}

.map__phone {
  margin: 0;
  margin-bottom: 35px;
}

.map__phone-link {
  color: inherit;
}

.footer-bottom {
  display: flex;
  align-items: center;
  width: var(--desktop);
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;

  cursor: pointer;
}

.socials__link::before {
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;

  content: '';
}

.socials__link--vk::before {
  background-image: url('../../img/vk-icon.svg');
}

.socials__link--fb::before {
  background-image: url('../../img/fb-icon.svg');
}

.socials__link--ig::before {
  background-image: url('../../img/insta-icon.svg');
}

.socials__link:hover,
.socials__link:focus {
  background-color: #e74246;
}

.socials__link:active {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.socials__link:active::before {
  filter: opacity(30%);
}

.footer__socials {
  width: 260px;
  margin-right: 140px;
}

.footer-right {
  width: 580px;
}

.footer__slogan {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: var(--font-bold);
  line-height: 36px;
}

.footer__text {
  margin: 0;

  font-size: var(--font-size-main);
  color: #444444;
  line-height: 22px;
}

.modal {
  width: 960px;
  padding: 70px 100px 80px;
}

.modal__title {
  font-size: 45px;
  font-weight: var(--font-medium);
  line-height: 45px;
}

.form__label {
  font-size: var(--font-size-main);
  font-weight: var(--font-bold);
  line-height: 18px;
}

.form__input {
  font: inherit;
}

.form__input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.form__input:focus::placeholder {
  opacity: 1;
}

.form__input:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.form__input--textarea {
  resize: none;
}


/* catalog.html */

.main--shop {
  display: grid;
  grid-template-columns: 260px 760px;
  justify-content: space-between;
}

.main__title {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  font-size: 55px;
  font-weight: var(--font-medium);
  line-height: 55px;

  background-color: var(--color-background);
}

.filter {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.filter__legend {
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.range {
  background-color: var(--color-background);
}

.range__line {
  background-color: #d7dcde;
}

.filter__range-label {
  font-size: var(--font-size-main);
  line-height: 22px;
  text-transform: uppercase;
}

.filter__range-input {
  padding: 0;
  border: none;

  color: #283136;
  font: inherit;
  line-height: 22px;
  background-color: var(--color-background);
}

.filter__label {
  color: #283136;
  font-size: var(--font-size-main);
  line-height: 20px;
}

.filter__input:disabled + .filter__label {
  opacity: 0.3;
}

.filter__label--radio:hover {
  color: var(--color-text);
}

.sort {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.sort__text {
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 18px;
  text-transform: uppercase;
}

.sort__item {
  opacity: 0.3;
}

.sort__item--current {
  opacity: 1;
}

.sort__item:hover,
.sort__item:focus {
  opacity: 0.6;
}

.sort__item:active {
  opacity: 1;
}

.sort__link {
  color: var(--color-text);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.templates {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.templates__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.templates__item {
  width: 360px;
}

.templates__item:nth-child(2n - 1) {
  margin-right: auto;
}

.template {}

.template__title {
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 30px;
  text-transform: uppercase;
}

.template__text {
  color: #666666;
  font-size: var(--font-size-main);
  line-height: 18px;
}

.pagination {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.pagination__item {}

.pagination__item--hidden {
  display: none;
}

.pagination__button {
  font-size: var(--font-size-main);
  font-weight: var(--font-medium);
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__button--active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}
