@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2');
}

:root {
  --color-text: #000000;
  --color-text-white: #ffffff;
  --color-background: #eeeeee;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --font-size-main: 16px;
  --line-height-main: 24px;

  --font-family-main: 'Roboto', 'Arial', 'sans-serif';
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

.button-like {
  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-white);
  background-color: #fb565a;
}

.header {
  color: var(--color-text);
  background-color: var(--color-background);
}

.navigation__link {
  line-height: 30px;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  color: var(--color-text);
}

.slider {
  color: var(--color-text);
  background-color: var(--color-background);
}

.slider__slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: var(--font-medium);
}

.slider__text {
  color: #283136;
}

.slider__link {}

.features__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.features__link {}

.features__link--green {
  background-color: #00ca74;
}

.features__link--yellow {
  background-color: #efc84a;
}

.info__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: var(--font-medium);
}

.info__list-title {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.info__table-title {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.table__cell {

}

.table__cell--header {
  line-height: 18px;
  font-weight: var(--font-regular);
}

.table__cell--data {
  font-size: 45px;
  font-weight: var(--font-bold);
}
