.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: none;
  width: 960px;
  box-sizing: border-box;

  transform: translate(-50%, -50%);
}

.modal--open {
  display: block;
}

.modal--open .modal__wrapper-feedback {
  animation: bounce 2500ms;
}

.modal--error .modal__wrapper-feedback {
  animation: shake 600ms;
}

.modal--feedback {
}

.modal__wrapper-feedback {
  padding: 70px 100px 80px;

  box-shadow: 0px 20px 40px 0px #000101;
  background-color: var(--color-background-white);
}

.modal__wrapper {
  position: relative;
}

.modal__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  font-weight: var(--font-medium);
  line-height: 45px;
}

.modal__form {
}

.modal__close {
  position: absolute;
  top: 10px;
  right: -10px;

  width: 25px;
  height: 25px;
  padding: 0;

  border: none;
  background-color: transparent;
  filter: opacity(30%);

  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  filter: opacity(100%);
}

.modal__close:active {
  filter: opacity(10%);
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 25px;
  height: 3px;

  border-radius: var(--standard-radius);
  background-color: #fb565a;

  content: "";
}

.modal__close::before {
  transform: translate(-50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(-50%) rotate(-45deg);
}

@keyframes bounce {
  0% {
    transform: translate(-2000px);
  }

  40% {
    transform: translate(-350px);
  }

  70% {
    transform: translate(0) scale(1.1, 1);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
