.table {
  border-collapse: collapse;

  text-align: left;
}

.table__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.table__row {
  display: flex;
}

.table__row--top {
  margin-bottom: 28px;
}

.table__cell {
  width: 33%;
}

.table__cell--header {
  font-size: var(--font-size-main);
  line-height: 18px;
  font-weight: var(--font-regular);
}

.table__cell--data {
  font-size: 45px;
  font-weight: var(--font-bold);
}

.table__supertext {
  font-size: 60%;
}
