.slider {
  position: relative;

  color: var(--color-text);
  background-color: var(--color-background);
}

.slider__list {
  position: relative;

  width: var(--desktop);
  min-height: 425px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 70px 0 80px;

  background-repeat: no-repeat;
  background-position: right 32px top 12px;

  display: none;
}

.slider__item--current {
  display: block;
}

.slider__item--first {
  background-image: url("./assets/slide1.png");
}

.slider__item--second {
  background-image: url("./assets/slide2.png");
}

.slider__item--third {
  background-image: url("./assets/slide3.png");
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 580px;
}

.slider__slogan {
  margin-bottom: 28px;

  font-size: 55px;
  line-height: 55px;
  font-weight: var(--font-medium);
}

.slider__slogan--narrow {
  width: 80%;
}

.slider__text {
  margin: 0;

  color: #283136;
}

.slider__link {
  margin-top: 36px;
}

.slider__controls-list {
  position: absolute;
  bottom: 90px;
  left: 50%;

  transform: translate(-50%);
}
